body {
    margin: 0 0 0 0;
    background-color: FloralWhite;
}

div :not(.container) {
    border: 1px solid black;
}

.container {
    font-family: sans-serif;
}

.header,
.footer {
    background-color: Gold;
    text-align: center;
    font-size: x-large;
    padding: 10px;
}

.item {
    background-color: LightSkyBlue;
    padding: 5px;
}
