<div class="container-fluid" id="editor-form">
  <h2 id="editor-title"><%= title %></h2>
  <form>
    <div class="form-group">
      <label for="first-name">First name:</label>
      <input
        type="text"
        class="form-control"
        id="first-name"
        value="<%= participant.first_name || '' %>"
      />
    </div>
    <div class="form-group">
      <label for="last-name">Last name:</label>
      <input
        type="text"
        class="form-control"
        id="last-name"
        value="<%= participant.last_name || '' %>"
      />
    </div>
    <div class="form-group">
      <label for="email">E-mail address:</label>
      <input
        type="text"
        class="form-control"
        id="email"
        value="<%= participant.email || '' %>"
      />
    </div>
    <div class="form-group">
      <label for="phone-number">Phone number:</label>
      <input
        type="text"
        class="form-control"
        id="phone-number"
        value="<%= participant.phone_number || '' %>"
      />
    </div>
    <div class="form-group">
      <label for="class">Class:</label>
      <select class="form-select" id="class">
      </select>
    </div>
    <div class="form-group">
      <button class="btn btn-primary" id="submit-button">
        Submit
      </button>
      <button class="btn btn-primary" id="cancel-button">
        Cancel
      </button>
    </div>
  </form>
</div>
