<% participants.forEach((participant) => { %>
  <tr>
    <td>
      <input
        class="form-check-input participant-radio"
        type="radio"
        name="participant"
        value="<%= participant.id %>"
      />
    </td>
    <td><%= participant.first_name %></td>
    <td><%= participant.last_name %></td>
    <td>
      <a href="mailto:<%= participant.email %>">
        <%= participant.email %>
      </a>
    </td>
    <td>
      <a href="tel:<%= participant.phone_number %>">
        <%= participant.phone_number %>
      </a>
    </td>
    <td><%= participant.cohort %></td>
    <td><%= participant.class %></td>
  </tr>
<% }); %>
