<!DOCTYPE html>
<html>
  <head>
    <title>Hello!</title>
    <link rel="stylesheet" href="/static/style.css">
  </head>
  <body>
    <h1>
      Hello
      <% if (gender) { %>
        <%= gender === 'male' ? 'Mr.' : 'Ms.' %>
      <% } %>
      <%= name %>!
    </h1>
  </body>
</html>
